<div class="empty-state">
  <span><%= lucide_icon "plus", size: 20 %></span>
  <h3><%= title %></h3>
  <p><%= text %></p>
  <%= link_to "Adicionar mídia", "#", class: "primary-button", data: { action: "modal#open" } %>
</div>
