<%= render layout: "shared/app_shell" do %>
  <div class="page-heading">
    <h1>Editar Mídia</h1>
    <p>Atualize informações, status e progresso de <%= @media_item.title %>.</p>
  </div>
  <%= render "form", media_item: @media_item %>
<% end %>
